header {
    background-color: #fff;
    height: 10vh;
    box-shadow: 0 5px 30px rgb(0 22 84 / 10%);
    /* padding: 15px 0; */
    /* display: flex; */
    align-content: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 99999;
}
header img {
    height: 10vh;
}
header a {
    margin-left: 30px;
    transition: 0.5s;
    font-weight: 500;
    text-decoration: none;
    color: var(--bg-dark);
}
/* header a:hover{
    color: var(--bg-red);
} */
header .toggle {
    display: none;  
}
header .nav-toggle {
    display: none;  
}
.toggle button {
    padding: 17px 30px;
}

/* Responsiveness  */

@media screen and (max-width: 768px) {
    header .apply,
    header .nav .flex {
        display: none;
    }
    header img{
        padding: 20px;
    }
    
    header .toggle {
        display: block;
    }
    header .small {
        position: absolute;
        top: 10vh;
        left: 0;
        width: 100%;
        background-color: var(--bg-grey-light);
        padding: 20px;
    }
    header li a {
        display: inline-block;
        margin-bottom: 20px;
        color: #fff;
    }
}