/* .footerContact {
  background-color: #27ae60;
  padding: 40px 0;
  color: #fff;
}
.footerContact h1 {
  font-size: 40px;
}
footer {
  background-color: #1d2636;
  padding: 50px 0;
  color: #fff;
}
footer .container {
  display: grid;
  grid-template-columns: 6fr 2fr 2fr 1fr;
  grid-gap: 20px;
}
footer img {
  width: 150px;
}
footer h2 {
  font-weight: 500;
}
footer p {
  color: grey;
  margin: 20px 0;
}
footer input {
  background-color: #fff;
  padding: 17px;
  width: 100%;
  border-radius: 5px;
}
footer h3 {
  font-weight: 500;
  margin-bottom: 30px;
}
footer ul {
  display: block;
}
footer ul li {
  display: block;
  color: grey;
  margin-bottom: 20px;
} */
.legal {
  text-align: center;
  padding: 20px;
  background: #1d2636;
  color: rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
/* .subscribe {
  text-align: left;
} */
.follow{
  /* display: flex; */
  /* font-weight: 600; */
  font-style: oblique;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* text-align: right; */
  padding: 10px;
  background: #1d2636;
  color: rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.follow .social {
  text-align: right;
}

.social a{
  display: inline-flex;
  text-decoration: none;
  font-size: 20px;
  width: 20px;
  height: 20px;
  color: #f0f0f0;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 5px;
}
.social a::before{
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 25%;
  z-index: -1;
  transition: transform .3s ease-in;
  border: 1px solid red;
}

.follow .social a:hover::before{
  transform: scale(0);
}
.follow .social  a i{
  transition: transform .3s ease-in;
} 
.follow .social  a:hover i {
  background-clip: text;
  transform: scale(1.5);
}
.social a:nth-child(1):hover{
  color: #38529a;
}
.social a:nth-child(2):hover{
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
}
.social a:nth-child(3):hover{
  color: #161616;
}
.social a:nth-child(4):hover{
  background: #067719;
}
.follow .social  a:hover i {
  background-clip: text;
  transform: scale(1.5);
}


@media screen and (max-width: 768px) {
  footer .container {
    grid-template-columns: repeat(2, 1fr);
  }
  /* .follow{
    text-align:  center;
  } */
  .social a{
    display: inline-flex;
    font-size: 15px;
    width: 15px;
    height: 15px;
    margin: 0 4px;
  }
}
